*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f5f7;
}

.top-bar{
    position:sticky;
    top:0;
    background:#0F3D91;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px;
}

.top-bar h1{
    font-size:22px;
}

.top-bar button{
    background:none;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

.search-section{
    background:white;
    padding:15px;
}

#search{

    width:100%;
    padding:14px;

    border-radius:12px;
    border:1px solid #ddd;

    font-size:16px;

}

.placeholder{

    margin:20px;
    padding:30px;

    background:white;

    border-radius:20px;

    text-align:center;

}

.placeholder h2{

    margin-bottom:10px;

}

.bottom-nav{

    position:fixed;

    bottom:0;

    width:100%;

    background:white;

    display:flex;

    justify-content:space-around;

    padding:12px 0;

    box-shadow:0 -3px 12px rgba(0,0,0,.15);

}

.bottom-nav button{

    background:none;

    border:none;

    font-size:16px;

    cursor:pointer;

}

.active{

    color:#0F3D91;

    font-weight:bold;

}
